<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="leadForm" (ngSubmit)="onSubmit()">
        <div formGroupName="brokerData">
          <div class="form-group">
            <input type="text"
                   id="brokerName"
                   class="form-control"
                   placeholder="Imię i nazwisko Pośrednika"
                   formControlName="brokerName">
            <span *ngIf="!leadForm.get('brokerData.brokerName').valid && leadForm.get('brokerData.brokerName').touched"
                  class="help-block">Uzupełnij Imię i nazwisko Pośrednika</span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="brokerPhone"
                   class="form-control"
                   placeholder="Telefon kontaktowy Pośrednika"
                   formControlName="brokerPhone">
            <span *ngIf="!leadForm.get('brokerData.brokerPhone').valid && leadForm.get('brokerData.brokerPhone').touched">
              <span *ngIf="leadForm.get('brokerData.brokerPhone').errors['required']"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('brokerData.brokerPhone').errors['pattern'] && !leadForm.controls['brokerData.brokerPhone']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="brokerEmail"
                   class="form-control"
                   placeholder="E-mail kontaktowy Pośrednika"
                   formControlName="brokerEmail">
            <span *ngIf="!leadForm.get('brokerData.brokerEmail').valid && leadForm.get('brokerData.brokerEmail').touched"
                  class="help-block">Wprowadź poprawny adres email Pośrednika</span>
          </div>
          <div class="form-group">
            <input type="email"
                   id="brokerRegNo"
                   class="form-control"
                   placeholder="NIP/PESEL Pośrednika"
                   formControlName="brokerRegNo">
            <span *ngIf="!leadForm.get('brokerData.brokerRegNo').valid && leadForm.get('brokerData.brokerRegNo').touched">
              <span *ngIf="leadForm.get('brokerData.brokerRegNo').errors['required'] && leadForm.get('brokerData.brokerRegNo').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('brokerData.brokerRegNo').errors['pattern'] && !leadForm.controls['brokerData.brokerRegNo']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
        </div>
        <div formGroupName="advisorData">
          <div class="form-group">
            <input type="text"
                   id="advisorName"
                   class="form-control"
                   placeholder="Imię i Nazwisko Doradcy PKO Leasing"
                   formControlName="advisorName">
            <span *ngIf="!leadForm.get('advisorData.advisorName').valid && leadForm.get('advisorData.advisorName').touched"
                  class="help-block">Uzupełnij Imię i Nazwisko Doradcy PKO Leasing</span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="advisorEmail"
                   class="form-control"
                   placeholder="E-mail doradcy PKO Leasing"
                   formControlName="advisorEmail">
            <span *ngIf="!leadForm.get('advisorData.advisorEmail').valid && leadForm.get('advisorData.advisorEmail').touched"
                  class="help-block">Wprowadź poprawny adres email Doradcy PKO Leasing</span>
          </div>
        </div>
        <div formGroupName="clientData">
          <div class="form-group">
            <input type="text"
                   id="clientName"
                   class="form-control"
                   placeholder="Nazwa klienta"
                   formControlName="clientName">
            <span *ngIf="!leadForm.get('clientData.clientName').valid && leadForm.get('clientData.clientName').touched"
                  class="help-block">Uzupełnij nazwę klienta</span>
          </div>
          <div class="form-group">
            <input type="email"
                   id="clientRegNo"
                   class="form-control"
                   placeholder="NIP/PESEL klienta"
                   formControlName="clientRegNo">
            <span *ngIf="!leadForm.get('clientData.clientRegNo').valid && leadForm.get('clientData.clientRegNo').touched">
              <span *ngIf="leadForm.get('clientData.clientRegNo').errors['required'] && leadForm.get('clientData.clientRegNo').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('clientData.clientRegNo').errors['pattern'] && !leadForm.controls['clientData.clientRegNo']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="clientPhone"
                   class="form-control"
                   placeholder="Numer telefonu klienta"
                   formControlName="clientPhone">
            <span *ngIf="!leadForm.get('clientData.clientPhone').valid && leadForm.get('clientData.clientPhone').touched">
              <span *ngIf="leadForm.get('clientData.clientPhone').errors['required'] && leadForm.get('clientData.clientPhone').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('clientData.clientPhone').errors['pattern'] && !leadForm.controls['clientData.clientPhone']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="clientZipCode"
                   class="form-control"
                   placeholder="Kod pocztowy klienta"
                   formControlName="clientZipCode">
            <span *ngIf="!leadForm.get('clientData.clientZipCode').valid && leadForm.get('clientData.clientZipCode').touched">
              <span *ngIf="leadForm.get('clientData.clientZipCode').errors['required'] && leadForm.get('clientData.clientZipCode').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('clientData.clientZipCode').errors['pattern'] && !leadForm.controls['clientData.clientZipCode']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry. Podaj kod w formacie XX-XXX.</span>
            </span>
          </div>
        </div>
        <div formGroupName="itemData">
          <div class="form-group">
            <input type="text"
                   id="itemName"
                   class="form-control"
                   placeholder="Przedmiot finansowania"
                   formControlName="itemName">
            <span *ngIf="!leadForm.get('itemData.itemName').valid && leadForm.get('itemData.itemName').touched"
                  class="help-block">Uzupełnij przedmiot finansowania</span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="itemNetPrice"
                   class="form-control"
                   placeholder="Wartość przedmiotu netto"
                   formControlName="itemNetPrice">
            <span *ngIf="!leadForm.get('itemData.itemNetPrice').valid && leadForm.get('itemData.itemNetPrice').touched">
              <span *ngIf="leadForm.get('itemData.itemNetPrice').errors['required'] && leadForm.get('itemData.itemNetPrice').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('itemData.itemNetPrice').errors['pattern'] && !leadForm.controls['itemData.itemNetPrice']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
          <div class="form-group">
            <select name="advisor"
                    class="form-control"
                    formControlName="itemFinancingMethod">
              <option disabled value="null">Wybierz metodę finansowania</option>
              <option *ngFor="let method of financingMethods"
                      [value]="method">
                {{ method }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <input type="text"
                   id="itemFinancingPeriod"
                   class="form-control"
                   placeholder="Okres finansowania"
                   formControlName="itemFinancingPeriod">
            <span *ngIf="!leadForm.get('itemData.itemFinancingPeriod').valid && leadForm.get('itemData.itemFinancingPeriod').touched">
              <span *ngIf="leadForm.get('itemData.itemFinancingPeriod').errors['required'] && leadForm.get('itemData.itemFinancingPeriod').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('itemData.itemFinancingPeriod').errors['pattern'] && !leadForm.controls['itemData.itemFinancingPeriod']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="ownShare"
                   class="form-control"
                   placeholder="Udział własny"
                   formControlName="ownShare">
            <span *ngIf="!leadForm.get('itemData.ownShare').valid && leadForm.get('itemData.ownShare').touched">
              <span *ngIf="leadForm.get('itemData.ownShare').errors['required'] && leadForm.get('itemData.ownShare').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('itemData.ownShare').errors['pattern'] && !leadForm.controls['itemData.ownShare']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="itemFinalValue"
                   class="form-control"
                   placeholder="Wartość końcowa"
                   formControlName="itemFinalValue">
            <span *ngIf="!leadForm.get('itemData.itemFinalValue').valid && leadForm.get('itemData.itemFinalValue').touched">
              <span *ngIf="leadForm.get('itemData.itemFinalValue').errors['required'] && leadForm.get('itemData.itemFinalValue').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('itemData.itemFinalValue').errors['pattern'] && !leadForm.controls['itemData.itemFinalValue']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="itemProductionYear"
                   class="form-control"
                   placeholder="Rok produkcji"
                   formControlName="itemProductionYear">
            <span *ngIf="!leadForm.get('itemData.itemProductionYear').valid && leadForm.get('itemData.itemProductionYear').touched">
              <span *ngIf="leadForm.get('itemData.itemProductionYear').errors['required'] && leadForm.get('itemData.itemProductionYear').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('itemData.itemProductionYear').errors['pattern'] && !leadForm.controls['itemData.itemProductionYear']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
          <div class="form-group">
            <input type="text"
                   id="expectedSalary"
                   class="form-control"
                   placeholder="Oczekiwane wynagrodzenie"
                   formControlName="expectedSalary">
            <span *ngIf="!leadForm.get('itemData.expectedSalary').valid && leadForm.get('itemData.expectedSalary').touched">
              <span *ngIf="leadForm.get('itemData.expectedSalary').errors['required'] && leadForm.get('itemData.expectedSalary').touched"
                    class="help-block">To pole jest wymagane</span>
              <span *ngIf="leadForm.get('itemData.expectedSalary').errors['pattern'] && !leadForm.controls['itemData.expectedSalary']?.valid"
                    class="help-block">Pole może zawierać tylko cyfry</span>
            </span>
          </div>
        </div>
        <button [disabled]="leadForm.invalid" class="btn btn-primary"
                type="submit">
          Wyślij
        </button>
      </form>
      <div class="alert alert-danger" *ngIf="errorMsg">
        <h2>Wystąpił błąd:</h2>
        <p>{{ errorMsg }}</p>
      </div>
    </div>
  </div>
  </div>
